<section id="home" class="vh-100 hero-section reveal" [style.background-image]="bgImage">
  <div class="container hero-content">

    <div class="profile-img-wrapper mx-auto mb-4">
      <img src="profile.png" alt="Profile" class="profile-img" />
    </div>

    <h1 class="fw-bold">Hi, I'm Ali Ahsan Zaidi</h1>
    <p class="lead">
      I build full stack web applications using ASP.NET Core & Angular
    </p>

    <a download class="btn btn-outline-primary btn-lg mt-3"
    href="docs/Resume-Ali-Ahsan-Zaidi.pdf">Download CV</a>
  </div>
</section>
